/* Write your code here. */

.emoji-container {
  width: 24%;
  list-style-type: none;
  margin: 8px 0px;
}

.emoji-button {
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff30;
  border-radius: 12px;
  width: 100%;
  height: 200px;
  outline: none;
}

.emoji-icon {
  width: 100px;
}

@media screen and (max-width: 760px) {
  .emoji-container {
    width: 32%;
  }
  .emoji-icon {
    width: 50px;
  }
  .emoji-button {
    height: 100px;
  }
}
